.reveal {
	--theme: #0358AD;
	--fg: #fff;

	color: #012;

	font-size: 24px;
	font-family: 'Lexend', sans-serif;
}

.reveal * {
	text-align: left;
}

.reveal :where(h1, h2, h3, h4, p, li) {
	line-height: 1.2;
}

.reveal :where(h1, h2, h3, h4) {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 600;
	text-decoration: underline var(--theme) 6px;
}

.reveal h1 {
	font-size: 96px;
}

.reveal h2 {
	font-size: 60px;
}

.reveal h3 {
	font-size: 48px;
}

.reveal h4 {
	font-size: 36px;
}

.reveal :where(p, li) {
	font-size: 36px;
}

.reveal :where(p, li).small {
	font-size: 30px;
}

.reveal :where(p, li).smaller {
	font-size: 24px;
}

.reveal .controls .controls-arrow::before,
.reveal .controls .controls-arrow::after {
	background-color: var(--theme);
}

.reveal .logo {
	margin-left: -1.5rem;
}

.reveal .figure {
	max-width: 100%;
	max-height: 90vh;

}

.reveal .grid {
	display: grid;
	gap: 3rem;
}

.reveal .left {
	float: left;
}

.reveal .right {
	float: right;
}
